.green {
  background-color: darkgreen !important;
}

.div-float{
    position: relative;
    padding-top: 13px;
  }

.div-float input{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius:0;
}

.div-float input:focus{
  border-bottom: 2px solid #3951b2;
}

.div-float input::placeholder{
  color:transparent;
}

.div-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.div-float input:required:invalid + label{
  color: red;
}

.div-float input:focus:required:invalid{
  border-bottom: 2px solid red;
}

.div-float input:required:invalid + label:before{
  content: '*';
}

.div-float input:focus + label,
.div-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
